.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.play-button {
  width: 5rem !important;
  height: 5rem !important;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}