.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.controls {
  flex: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.interval-button {
  height: 3rem;
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

@media (max-aspect-ratio: 1/1) {
  .container {
    flex-direction: column;
  }

  .interval-button {
    width: calc(50% - 0.2rem);
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }
}